<h1> VCAN messages.</h1>
    
<form action='test' method='post'>
  <button type='submit' class='btn btn-primary'>Message1</button>
</form>
<form action='test2' method='post'>
  <button type='submit' class='btn btn-primary'>Message2</button>
</form>
<form action='test3' method='post'>
  <button type='submit' class='btn btn-primary'>Message3</button>
</form>
<textarea class="form-control input-sm" rows="10" style="resize: none" ng-model="formData_EventDetails.serviceNowStr" id="serviceNowStr" readonly placeholder=""><%= @output %></textarea>

 
